In [1]:
import pandas as pd
data = pd.read_csv('Lemonade.csv')
data[:3]

         Date      Day  Temperature  Rainfall  Flyers  Price  Sales
0  01/01/2017   Sunday         27.0      2.00      15    0.3     10
1  02/01/2017   Monday         28.9      1.33      15    0.3     13
2  03/01/2017  Tuesday         34.5      1.33      27    0.3     15

In [2]:
X, y = data.iloc[:, 2:-1].values, data.iloc[:, -1].values
X, y

(array([[27.  ,  2.  , 15.  ,  0.3 ],
        [28.9 ,  1.33, 15.  ,  0.3 ],
        [34.5 ,  1.33, 27.  ,  0.3 ],
        ...,
        [39.5 ,  1.25, 17.  ,  0.3 ],
        [30.9 ,  1.43, 22.  ,  0.3 ],
        [15.1 ,  2.5 ,  9.  ,  0.3 ]]),
 array([10, 13, 15, 17, 18, 11, 13, 15, 17, 18, 12, 14, 15, 17, 18, 12, 14,
        16, 17, 12, 14, 16, 17, 12, 14, 16, 17, 13, 14, 17, 18, 18, 20, 21,
        22, 18, 20, 21, 22, 19, 20, 21, 22, 18, 19, 20, 21, 18, 19, 20, 21,
        18, 19, 20, 21, 18, 19, 20, 22, 23, 24, 24, 25, 23, 24, 24, 25, 23,
        24, 24, 25, 23, 23, 24, 24, 25, 23, 23, 24, 24, 25, 23, 23, 24, 25,
        25, 23, 24, 24, 25, 25, 26, 26, 27, 28, 25, 26, 26, 27, 25, 26, 27,
        27, 25, 26, 27, 27, 25, 26, 27, 27, 25, 26, 27, 27, 25, 25, 26, 27,
        27, 29, 29, 30, 31, 28, 29, 29, 30, 31, 28, 29, 29, 30, 31, 28, 29,
        29, 30, 31, 28, 29, 30, 31, 28, 29, 30, 31, 29, 29, 30, 31, 31, 33,
        35, 38, 32, 34, 36, 39, 32, 35, 36, 40, 32, 35, 36, 41, 31, 32, 35,
        37, 41, 31, 33, 35, 37, 42, 31, 33, 35, 38, 43, 38, 35, 34, 32, 39,
        35, 34, 33, 40, 35, 34, 33, 40, 35, 34, 33, 41, 36, 35, 33, 42, 37,
        35, 33, 32, 43, 38, 35, 34, 32, 32, 31, 30, 29, 32, 31, 30, 29, 32,
        31, 30, 29, 29, 32, 31, 30, 30, 29, 32, 31, 30, 30, 29, 32, 30, 30,
        29, 32, 30, 30, 29, 29, 28, 27, 26, 26, 29, 28, 27, 26, 26, 28, 27,
        26, 26, 28, 27, 26, 26, 28, 27, 26, 26, 28, 28, 27, 26, 29, 28, 27,
        26, 25, 25, 24, 24, 25, 25, 25, 24, 25, 25, 25, 24, 25, 25, 25, 24,
        25, 25, 25, 24, 24, 25, 25, 25, 24, 24, 26, 25, 25, 24, 24, 23, 22,
        21, 19, 23, 22, 21, 19, 23, 22, 21, 19, 19, 23, 23, 21, 20, 19, 23,
        22, 20, 19, 23, 22, 20, 19, 23, 22, 20, 19, 19, 17, 15, 13, 10, 19,
        17, 15, 14, 11, 17, 15, 14, 13, 17, 15, 14, 13, 18, 16, 15, 13, 18,
        16, 15, 13, 19, 16, 15, 13,  7], dtype=int64))

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((292, 4), (73, 4), (292,), (73,))

In [7]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [21]:
# 計算誤差的部分
import pandas as pd
import numpy as np
dfTest = pd.DataFrame(X_test, columns = ['Temperature', 'Rainfall', 'Flyers', 'Price'])
dfTest['Sales'] = y_test
dfTest['Pre_Sales'] = model.predict(X_test)
dfTest['Diff_Sales'] = np.abs(dfTest['Sales'] - dfTest['Pre_Sales'])
dfTest['Diff_Sales_%'] = np.round(np.abs(dfTest['Sales'] - dfTest['Pre_Sales']) / dfTest['Sales'] * 100, 2)
dfTest['Diff_Sales_Sqr'] = np.power(dfTest['Sales'] - dfTest['Pre_Sales'], 2)
print( ( dfTest['Diff_Sales_Sqr'].sum() / len(dfTest['Diff_Sales_Sqr']) ) ** 0.5 ) # RMSE 越小越好 SUM(差距平方)/N 再開根號
dfTest.sort_values(by='Diff_Sales_%', ascending = False)[:10]

0.9228283225884808

,Temperature,Rainfall,Flyers,Price,Sales,Pre_Sales,Diff_Sales,Diff_Sales_%,Diff_Sales_Sqr
45,38.2,1.33,16.0,0.3,14,15.369595,1.369595,9.78,1.875791
58,49.7,1.05,38.0,0.3,19,20.612408,1.612408,8.49,2.599860
14,39.5,1.25,17.0,0.3,15,16.040346,1.040346,6.94,1.082319
2,48.7,1.05,37.0,0.3,19,20.225702,1.225702,6.45,1.502346
27,32.2,1.43,26.0,0.3,14,13.120134,0.879866,6.28,0.774163
68,36.2,1.25,16.0,0.3,14,14.805552,0.805552,5.75,0.648914
66,38.1,1.05,21.0,0.3,17,16.029569,0.970431,5.71,0.941737
23,61.1,0.71,33.0,0.3,27,25.463166,1.536834,5.69,2.361860
56,55.6,0.87,41.0,0.3,22,23.232059,1.232059,5.60,1.517969
18,97.9,0.47,74.0,0.5,43,40.735001,2.264999,5.27,5.130220